html {
  font-size: 10px;
}

#main {
  background: linear-gradient(144.57deg, #9400D3 0%, #DC143C 94.2%);
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  display:flex;
}

#container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  flex-wrap:row  wrap;
  padding: 5rem;
  justify-content: center;
}

#intro{
  display: flex;
  flex-flow: column wrap;
  width: 40%;
 border: 10px dotted #fff;
  border-radius: 10%;
}
#intro h1{
  font-size: 5rem;
}
#intro p{
  font-size: 2rem;
}
#overlay {
  display: flex;
  margin: auto;
  position: relative;
  width: 40%;
  background: rgba(9, 9, 36, 0.5);;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}

#survey-form{
 
  width:  80%;
 padding: 2rem;
 text-align: left;
 margin: 2rem 0; 
 
}

input {
  border: 2px solid #fff;
  background: transparent;
  margin: 0.5em 0 2rem 0;
  padding: 1rem;
  border-radius: 1rem;
  width: 95%;
  color: #fff;
}
input:hover {
  border: 3px solid #2EBEBE;
  cursor: pointer;
}
option {
  color:#D81345;
}

#dropdown {
   border: 2px solid #fff;
  background: transparent;
  margin: 0.5em 0 2rem 0;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  color: #fff;
}
#dropdown:hover {
 border: 4px solid #2EBEBE;
}

input[type="radio"] {
 margin: 2rem 1rem 2rem 0;
  width: 3%;
}
#male:hover {
   background-color: #2EBEBE;
  cursor: pointer;
}

#female {
  margin-top: -1rem;
}

#submit {
  border: 2px solid #2EBEBE;
  background-color: #2EBEBE;
  padding:1rem;
   width: 100%;
  color: #fff;
  border-radius: 1rem;
  font-size: 20px
}
#submit:hover {
  background: #D81345;
  border: 1px solid #D81345;
  cursor: pointer;
}

#skills {
  display: flex;

}

input[type="checkbox"] {
   width: 4rem;
  margin: 1rem 0 2rem -1.2rem;
}
#skills label {
  margin: 0.5rem 3rem 0rem 0rem;
}

#state-others {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 3rem; 
}

#others {
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1rem;
  margin-top: 1rem;
}
#others:hover {
 border: 4px solid #2EBEBE;
  cursor: pointer;
}
.show {
  display: none;
}